h1 {
	color: darkseagreen;
	background-color: mintcream;
	border: 5px solid steelblue;
	padding: 20px;
	margin: 50px;
}

.info {
	font-size: 32px;
	font-weight: 700;
	color: burlywood;
	font-style: normal;
}

.STB {
	font-size: 20px;
	font-weight: bold;
	color: rosybrown;
	font-style: oblique;
}

.favClasses {
	border: 10px solid darkgreen;
	background-color: steelblue;
}

.favClasses p {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	font-style: unset;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
}

li span {
	padding: 25px;
	font-size: 18px;
	position: relative;
	display: inline-block;
}

li span:hover {
	background-color: rosybrown;
}

.englishInfo {
	display: none;
	position: absolute;
	z-index: 1;
}

li span:hover .englishInfo {
	display: block;
}





